# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pyenv.cfg

# repo specific
.gitignore
.python-version
Dockerfile
prompts_outputs.txt
reels/instagram_cookies.txt
reels/experiments/
reels/example_images/
reels/__pycache__/
promotional/
models/
videos/
frames/
audio/
share/
# include/
bin/
# lib/
